<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDM0TWzsWLOSeLbLnoLqpJtdfAq3WpAPYg</string>
	<key>GCM_SENDER_ID</key>
	<string>80976286501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bosohyun.memoircanvas</string>
	<key>PROJECT_ID</key>
	<string>memoircanvas-f3c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>memoircanvas-f3c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80976286501:ios:2eb5ceab6b57d1451e80cc</string>
</dict>
</plist>